.button {
  display: inline-flex;
  align-items: center;
  padding: 12px;
  margin-left: 8px;
  color: var(--color-btn-text);
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  border-radius: 10px;
  background-color: var(--color-btn-bg);
  transition: color 0.2s $ease, background-color 0.2s $ease;
  -webkit-app-region: no-drag;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: var(--color-text);
    background-color: var(--color-card-hover);
  }

  &.is-yellow {
    background-color: $colorYellow;
    color: $colorBlack;

    &:hover {
      background-color: rgba($colorYellow, 0.9);
    }
  }

  &.is-red {
    background-color: $colorRed;
    color: $colorBlack;

    &:hover {
      background-color: rgba($colorRed, 0.9);
    }
  }

  &.is-red-text {
    background-color: transparent;
    color: $colorRed;
    padding: 0;
  }

  &.is-grey-text {
    background-color: transparent;

    &:hover {
      color: var(--color-text);
      background-color: var(--color-card-hover);
    }
  }

  &__icon + &__content {
    margin-left: 4px;
  }

  & + & {
    margin-left: 6px;
  }
}
